@{
    Layout = "~/ViewsAdmin/Shared/_AdminLayout.cshtml";
}

@*Style for the radio button*@
        <style type="text/css">
            .btn span.glyphicon {    			
	        opacity: 0;				
            }
            .btn.active span.glyphicon {				
	            opacity: 1;				
            }
            b {
                font-size: small;
            }
        </style>
@*End Radio button style*@

<form method="post" action="~/Messeging/SendMessege" >

    <div class="col-md-4">
        <h5>
            Please Select The Relevent Groups to Send the Messege
        </h5>



        <div class="panel-group" id="accordion">
            <div class="panel panel-default">

                @*Faculty of computing*@
                <div class="panel-heading">
                    <h5 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#computing">
                            <b>
                                Faculty Of Computing
                            </b>
                            <i class="fa fa-info-circle fa-2x" aria-hidden="true" style="float:right"></i>
                        </a>
                    </h5>
                </div>
                <div id="computing" class="panel-collapse collapse">
                    @*All of FOC*@
                    <div class="panel-body">
                            <h5 class="panel-title">
                                    <b>
                                        All of FOC Students
                                    </b>
                                    <div class="btn-group" data-toggle="buttons" style="float:right">
                                        <label class="btn btn-default">
                                            <input type="checkbox" autocomplete="off" id="foc" name="foc" >
                                            <span class="glyphicon glyphicon-ok"></span>
                                        </label>
                                    </div> 
                            </h5>
                    </div>
                    @foreach (var item in ViewBag.FOCbatchDetails as List<OnlineElection.Domain.ViewModels.BatchDetailsViewModel>)
                    {
                        <div class="panel-body">
                            <h5 class="panel-title">
                                <b>
                                    Year = @item.Year
                                    Name = @item.Name
                                </b>
                                <div class="btn-group" data-toggle="buttons" style="float:right">
                                    <label class="btn btn-default">
                                        <input type="checkbox" autocomplete="off" id="@item.batch_ID" name="@item.batch_ID">
                                        <span class="glyphicon glyphicon-ok"></span>
                                    </label>
                                </div>
                            </h5>
                        </div>
                    }



                </div>




                @*Faculty of business*@
                <div class="panel-heading">
                    <h5 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#business">
                            <b>
                                Faculty Of Business
                            </b>
                            <i class="fa fa-info-circle fa-2x" aria-hidden="true" style="float:right"></i>
                        </a>
                    </h5>
                </div>
                <div id="business" class="panel-collapse collapse">
                    @*All Of FOB*@
                    <div class="panel-body">
                        <h5 class="panel-title">
                                <b>
                                    All of FOB Students
                                </b>
                                <div class="btn-group" data-toggle="buttons" style="float:right">
                                    <label class="btn btn-default">
                                        <input type="checkbox" autocomplete="off" id="fob" name="fob">
                                        <span class="glyphicon glyphicon-ok"></span>
                                    </label>
                                </div>                       
                        </h5>
                    </div>
                    @foreach (var item in ViewBag.FOBbatchDetails as List<OnlineElection.Domain.ViewModels.BatchDetailsViewModel>)
                    {
                        <div class="panel-body">
                            <h5 class="panel-title">
                                <b>
                                    Year = @item.Year
                                    Name = @item.Name
                                </b>
                                <div class="btn-group" data-toggle="buttons" style="float:right">
                                    <label class="btn btn-default">
                                        <input type="checkbox" autocomplete="off" id="@item.batch_ID" name="@item.batch_ID">
                                        <span class="glyphicon glyphicon-ok"></span>
                                    </label>
                                </div>
                            </h5>
                        </div>
                    }

                </div>




                @*Faculty of engineering*@
                <div class="panel-heading">
                    <h5 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#engineering">
                            <b>
                                Faculty Of Engineering
                            </b>
                            <i class="fa fa-info-circle fa-2x" aria-hidden="true" style="float:right"></i>
                        </a>
                    </h5>
                </div>
                <div id="engineering" class="panel-collapse collapse">
                    @*All Of FOE*@
                    <div class="panel-body">
                        <h5 class="panel-title">
                            <b>
                                All of FOE Students
                            </b>
                            <div class="btn-group" data-toggle="buttons" style="float:right">
                                <label class="btn btn-default">
                                    <input type="checkbox" autocomplete="off" id="foe" name="foe">
                                    <span class="glyphicon glyphicon-ok"></span>
                                </label>
                            </div> 
                        </h5>
                    </div>
                    @foreach (var item in ViewBag.FOEbatchDetails as List<OnlineElection.Domain.ViewModels.BatchDetailsViewModel>)
                    {
                        <div class="panel-body">
                            <h5 class="panel-title">
                                <b>
                                    Year = @item.Year
                                    Name = @item.Name
                                </b>
                                <div class="btn-group" data-toggle="buttons" style="float:right">
                                    <label class="btn btn-default">
                                        <input type="checkbox" autocomplete="off" id="@item.batch_ID" name="@item.batch_ID">
                                        <span class="glyphicon glyphicon-ok"></span>
                                    </label>
                                </div>
                            </h5>
                        </div>
                    }


                </div>
            </div>
        </div>

    </div>

    <div class="col-md-8">
        <h5>Enter the messege</h5>
        <br />
        <div class="form-group">
            <input type="text" class="form-control" name="txtSubject" id="txtSubject" placeholder="Type The Subject">
            <br />
            <center>
                
                <textarea class="form-control" id="TextAreaInput" name="TextAreaInput" placeholder="Type The Messege"></textarea>
                <br />
                <button type="submit" class="btn btn-success btn-sm" style="width:60%">Send</button>
            </center>
        </div>
    </div>
</form>

@section Scripts{
    <script src="/Scripts/jquery.signalR-2.1.1.js"></script>
    <!--Reference the autogenerated SignalR hub script. -->
    <script src="/signalr/hubs"></script>
    <script type="text/javascript">
        var i = 0;
    $(function () {
        // Declare a proxy to reference the hub.
        var notifications = $.connection.messagesHub;

        //debugger;
        // Create a function that the hub can call to broadcast messages.
        notifications.client.updateMessages = function () {
            if (i == 0) {
                getAllMessages();
                getMessegeNotifications();
                resetI();
            }
            i++;

        };
        // Start the connection.
        $.connection.hub.start().done(function () {
            alert("connection started")
            getAllMessages();
            getMessegeNotifications();
        }).fail(function (e) {
            alert(e);
        });
    });

    function resetI() {
        setTimeout(function () {

            i = 0;
        }, 3000);
    }

    function getAllMessages()
    {
        var tbl = $('#messagesTable');
        $.ajax({
            url: '../home/GetMessages',
            contentType: 'application/html ; charset:utf-8',
            type: 'GET',
            dataType: 'html'
        }).success(function (result) {
            tbl.empty().append(result);
        }).error(function (xhr, ajaxOptions, thrownError) {

            alert(xhr.status);
            alert(thrownError);
            alert(xhr.responseText);

        });
    }
    function getMessegeNotifications() {
        var tbl = $('#body');
        $.ajax({
            url: '../home/GetNotifications',
            contentType: 'application/html ; charset:utf-8',
            type: 'GET',
            dataType: 'html'
        }).success(function (result) {
            tbl.append(result);
        }).error(function (xhr, ajaxOptions, thrownError) {

            alert(xhr.status);
            alert(thrownError);
            alert(xhr.responseText);

        });
    }
    </script>
}
  
