@model IEnumerable<OnlineElection.DAL.person>

@{
    ViewBag.Title = "ViewUsers";
    Layout = "~/ViewsAdmin/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Total Users</h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <ul class="dropdown-menu" role="menu">
                            <li>
                                <a href="#">Settings 1</a>
                            </li>
                            <li>
                                <a href="#">Settings 2</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <p class="text-muted font-13 m-b-30">
                    Admin can Delete or Accept User request
                </p>
                <table id="datatable-checkbox" class="table table-striped table-bordered bulk_action">
                    <thead>
                        <tr>
                            <th><input type="checkbox" id="check-all" class="flat"></th>
                            <th>SID</th>
                            <th>First Name</th>
                            <th>Email</th>
                            <th>Year</th>
                            <th>Semester</th>
                            <th>Approve</th>
                            <th>Respond</th>
                        </tr>
                    </thead>


                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td><input type="checkbox" class="flat" name="table_records"></td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.SID)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.FullName)
                                <td>
                                    @Html.DisplayFor(modelItem => item.email)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.student.Year)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.student.semester)
                                </td>
                                <td>                                   
                                    @item.AdminApproved
                                </td>
                                <td>
                                    @if (@item.AdminApproved == false)
                                    {
                                        <span data-placement="top" data-toggle="tooltip" title="Approve"><button type="button" class="btn btn-success btn-xs" data-title="Approve" data-toggle="modal" data-target=".bs-example-modal-sm"><span class="glyphicon glyphicon-ok"></span></button></span>
                                    }
                                    else
                                    {
                                        <span data-placement="top" data-toggle="tooltip" title="Ignore"><button type="button" class="btn btn-warning btn-xs" data-title="Approve" data-toggle="modal" data-target=".bs-example-modal-sm"><span class="glyphicon glyphicon-warning-sign"></span></button></span>
                                    }
                                    
                                    <span data-placement="top" data-toggle="tooltip" title="Delete"><button class="btn btn-danger btn-xs" data-title="Delete" data-toggle="modal" data-target="#delete"><span class="glyphicon glyphicon-trash"></span></button></span>
                                </td>
                            </tr>
                        }
                        @*<button class="btn btn-success btn-xs" data-title="Edit" data-toggle="modal" data-target="bs-example-modal-sm"><span class="glyphicon glyphicon-ok"></span></button>*@
                    </tbody>
                </table>
                
                <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog modal-sm">
                        <div class="modal-content">

                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">×</span>
                                </button>
                                <h4 class="modal-title" id="myModalLabel2">Modal title</h4>
                            </div>
                            <div class="modal-body">
                                <h4>Text in a modal</h4>
                                <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>
                                <p>Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla.</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary">Save changes</button>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script src="~/Content/vendors/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/Content/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <script src="~/Content/vendors/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/Content/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>
    <script src="~/Content/vendors/datatables.net-buttons/js/buttons.flash.min.js"></script>
    <script src="~/Content/vendors/datatables.net-buttons/js/buttons.html5.min.js"></script>
    <script src="~/Content/vendors/datatables.net-buttons/js/buttons.print.min.js"></script>
    <script src="~/Content/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js"></script>
    <script src="~/Content/vendors/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>
    <script src="~/Content/vendors/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/Content/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
    <script src="~/Content/vendors/datatables.net-scroller/js/datatables.scroller.min.js"></script>

    <script>

        $('#datatable-checkbox').DataTable();

    </script>
}

