
@{
    ViewBag.Title = "VotingPage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<link href="~/Content/voteDesign.css" rel="stylesheet" />*@
<link href="~/Content/votingPage.css" rel="stylesheet" />

<style>


</style>


<div class="radio-tile-group" style="margin-top:55px">

    @foreach (var can in ViewBag.candidateList as List<OnlineElection.Domain.ViewModels.CandidateDetailedViewModel>)
    {
        <img class="img-responsive img-circle" style="width:10%;" src="~/Content/Images/@can.ImageUrl">




    


    <div class="input-container" style="height:200px;width:200px">
        <input id="walk" class="radio-button" type="radio" value="@can.person_ID" name="radio" assigned-id="img1" />
        <div class="radio-tile">
            <div class="icon walk-icon" name="img1" style="margin-left:120px;margin-bottom:20px" hidden>
                <img src="~/Content/Images/right.png" width="50" height="50" name="img"/>
            </div>
            <label for="walk" class="radio-tile-label">@can.FirstName</label>
            <label for="walk" class="radio-tile-label">@can.LastName</label>
            <label for="walk" class="radio-tile-label">@can.Year</label>
            <label for="walk" class="radio-tile-label">@can.Sem</label>

        </div>
    </div>

   }



</div>

@section Scripts
{

    <script>

        //$("[name='radio']").click(function () {
        //    $("[name='img']").show();

        //});

    

    </script>
}