@{
    //Layout = "~/Views/Shared/_Layout.cshtml";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Vote";
}



<div class="row">
    <div class="col-sm-12" style="background-color:black; text-align:left;min-height:60px;">
        <h3 style="color:#36b3e2;padding-left:60px;position:absolute">
            @ViewData["Message"]
        </h3>
    </div>



    @*Candidates Detail View*@
    <div class="col-sm-8" style="background-color:#fff;margin-top:6px;left:15%">




        <form action="/Vote/VoteSubmit" method="post">
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            <h4> Please Vote Here </h4>





            @*Collapase Detail View*@
            <div class="panel-group" id="accordion" style="padding-left:10%">

                @{
                    var xVal = 1;
                    var imageModel = 10000;
                }

                @foreach (var can in ViewBag.candidateList as List<OnlineElection.Domain.ViewModels.CandidateDetailedViewModel>)
                {
                                    <img class="img-responsive img-circle" style="width:10%;" src="~/Content/Images/@can.ImageUrl">


                                <input type="radio" name="selctedCandidate" value="@can.person_ID" style="float:right" />

                                            @can.FirstName
                                            @can.LastName

                                            @can.Year

                                            @can.Sem

                                            @can.Telephone

                                            <b>Degree</b>

                                            @can.degree


                }









            </div>
            @*End Collapase Detail View*@
            <div class="panel-group" id="accordion" style="padding-left:10%;padding-top:0.5%;padding-bottom:1%">
                <button type="submit" class="btn-success" style="width:80%">Submit</button>
            </div>
        </form>
    </div>
    @*End of Candidates Detail View*@
</div>




